p,
h1,
h2,
h3 {
  margin: 0; /* убираем отступы у заголовков и параграфов */
}

ul {
  list-style-type: none; /* убираем точки списка */
  margin: 0; /* убираем отступы у списка */
  padding: 0; /* убираем отступы у списка */
}

a {
  text-decoration: none; /* убираем подчеркивание ссылок */
}

img {
  display: block; /*убираем пробелы под картинкой*/
  max-width: 100%; /*максимальная ширина картинки*/
  height: auto; /*автоматическая высота картинки*/
}

li:last-child {
  margin-right: 0; /*убираем отступ у последнего элемента списка*/
}

body {
  --font-family: "Poppins", sans-serif;
  --second-family: "Montserrat", sans-serif;
  width: 100%; /* секция занимает всю ширину окна */
  height: 100vh; /* высота = 100% высоты экрана */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  width: 420px; /*ширина контейнера*/
  padding-left: 10px; /*отступ слева*/
  padding-right: 10px; /*отступ справа*/
  margin: 0 auto; /*центрируем контейнер*/
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*-------HEADER-------*/

.header {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  background: #0c1117;
  padding-top: 23px;
  padding-bottom: 23px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-logo-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: #377dff;
}

.header-menu-list {
  display: none;
}

.header-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  fill: #377dff;
}

.mob-menu {
  width: 100%;
  height: 100%;
  background: #0c1117;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 20px;
  opacity: 0;
  pointer-events: 0;
  visibility: hidden;
}

/*накладывается на класс mob-menu*/
.mob-menu-open {
  opacity: 1;
  visibility: visible;
  pointer-events: stroke;
}

.mob-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.modal-close {
  display: block;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  fill: #fff;
}

.mob-menu-menu-item {
  margin-bottom: 25px;
}

.mob-menu-menu-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 93%;
  letter-spacing: 0.05em;
  color: #377dff;
  margin-left: 40px;
}

.mob-menu-menu-link.current {
  color: #fff;
}

.mob-menu-menu-link:hover,
.mob-menu-menu-link:focus {
  color: #fff;
  transition: 500ms ease;
}

.mob-menu-soc-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header-nav {
    display: flex;
    justify-content: start;
  }

  .header-menu-list {
    display: flex;
    gap: 63px;
    margin-left: 141px;
    align-items: center;
  }

  .header-menu-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 93%;
    letter-spacing: 0.05em;
    color: #fff;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #377dff;
    transition: 300ms ease;
  }

  .header-button {
    display: none;
  }
}

/*-------HERO--------*/

.hero {
  position: relative;
  background: linear-gradient(rgba(18, 27, 38, 0.73), rgba(18, 27, 38, 0.73)),
    url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  display: none;
}

.hero-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.number-title {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 80px;
  line-height: 129%;
  color: rgba(255, 255, 255, 0.13);
}

.hero-line {
  width: 3px;
  height: 80px;
  background: #377dff;
}

.hero-text-all {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 70px;
  margin-left: 20px;
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 200;
  font-size: 25px;
  line-height: 140%;
  color: #fff;
  max-width: 480px;
}

.hero-title-2 {
  font-family: var(--second-family);
  font-weight: 200;
  font-size: 25px;
  color: #377dff;
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 156%;
  color: #fff;
  margin-top: 31px;
  margin-bottom: 59px;
  max-width: 611px;
  margin-left: 20px;
  margin-right: 20px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.hero-button-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border-radius: 35px;
  padding: 17px 37px;
  background: #377dff;
  transition: all 500ms ease;
}

.hero-button-link:hover,
.hero-button-link-2:hover {
  transform: scale(1.1);
}

.hero-button-link-2:hover {
  background-color: #377dff;
}

.hero-button-link-2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border: 2px solid #377dff;
  border-radius: 35px;
  padding: 17px 37px;
  background: transparent;
  margin-left: 14px;
  transition: all 500ms ease;
}

@media screen and (min-width: 768px) {
  .hero-container {
    position: relative;
  }

  .hero-text-all {
    gap: 20px;
    align-items: center;
    margin-top: 90px;
    margin-left: 20px;
    width: 450px;
  }

  .number-title {
    font-size: 100px;
  }

  .hero-line {
    height: 100px;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-title-2 {
    font-size: 30px;
  }

  .hero-text {
    font-size: 12px;
    margin-top: 45px;
    max-width: 450px;
  }

  .hero-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    margin-bottom: 70px;
    top: 130px;
    right: 60px;
  }

  .hero-button-link-2 {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-width: 1440px;
  }

  .hero-text-all {
    flex: 1 1 50%;
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 272px;
    margin-left: 0;
    width: 800px;
  }

  .number-title {
    font-size: 140px;
  }

  .hero-line {
    height: 130px;
  }

  .hero-title {
    font-size: 50px;
    max-width: 480px;
  }

  .hero-title-2 {
    font-size: 50px;
  }

  .hero-text {
    font-size: 16px;
    margin-top: 31px;
    margin-bottom: 59px;
    margin-left: 0;
    max-width: 611px;
  }

  .hero-image {
    position: absolute;
    width: 825px;
    margin-left: 465px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 45%;
  }

  .hero-buttons {
    position: static; /* вместо absolute */ /* вместо flex */
    flex-direction: row; /* дефолтное направление */ /* по умолчанию нет gap */
    align-items: stretch; /* дефолтное значение */
    margin-bottom: 0; /* сброс отступа */
    top: auto; /* отключаем позиционирование */
    right: auto; /* отключаем позиционирование */
    justify-content: start;
    display: flex;
    gap: 15px;
    margin-bottom: 172px;
  }
}

/*----------INFO-----------*/

.info {
  padding-top: 70px;
  padding-bottom: 70px;
}

.info-title-line {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.info-line {
  width: 3px;
  height: 50px;
  background: #377dff;
}

.info-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  line-height: 121%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #141d28;
  padding-bottom: 70px;
}

.span-info {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  line-height: 115%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #377dff;
}

.info-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.info-item {
  text-align: center;
}

.info-img {
  width: 170px;
  display: block;
  margin: 0 auto;
}

.poiner {
  position: absolute;
  transform: rotate(-270deg);
  left: 10px;
  top: 200px;
}

.poiner2 {
  position: absolute;
  transform: rotate(90deg);
  right: 10px;
  top: 470px;
}

.info-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  color: #141d28;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .info-title-line {
    gap: 32px;
  }

  .info-line {
    height: 52px;
  }

  .info-title {
    font-size: 36px;
  }

  .span-info {
    font-size: 36px;
  }

  .info-list {
    position: static;
    justify-content: center;
    gap: 5px;
    flex-direction: row;
  }

  .info-img {
    width: 120px;
  }

  .poiner {
    padding-top: 70px;
    position: static;
    transform: rotate(0deg);
  }

  .poiner2 {
    position: static;
    transform: rotate(0deg);
    padding-bottom: 135px;
  }

  .info-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .info {
    padding-top: 145px;
    padding-bottom: 145px;
  }

  .info-title-line {
    gap: 38px;
  }

  .info-line {
    height: 54px;
  }

  .info-title {
    font-size: 38px;
  }

  .span-info {
    font-size: 40px;
  }

  .info-list {
    gap: 45px;
  }

  .info-img {
    width: 180px;
  }

  .poiner {
    padding-top: 0px;
  }

  .poiner2 {
    padding-bottom: 75px;
  }

  .info-text {
    font-size: 30px;
  }
}

/*-----------FEAUTERS------------*/

.features {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #233142;
}

.features-list {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  padding-left: 20px;
}

.features-icon-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.features-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-transform: capitalize;
  color: #fff;
}

.features-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  max-width: 355px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 50px;
  }

  .features-item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .features-icon-title {
    margin-bottom: 5px;
  }

  .features-text {
    padding-left: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 145px;
    padding-bottom: 145px;
  }

  .features-list {
    column-gap: 40px;
    row-gap: 60px;
  }

  .features-item {
    flex-basis: calc((100% - 80px) / 3);
  }

  .features-icon-title {
    margin-bottom: 18px;
  }

  .t1 {
    max-width: 320px;
  }
}

/*-----------WORKERS------------*/

.workers {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #f9fbfd;
}

.workers-line {
  width: 3px;
  height: 90px;
  background: #377dff;
  margin-right: 28px;
}

.workers-header {
  display: flex;
  margin-left: 20px;
  margin-bottom: 70px;
}

.workers-header-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span-workers {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  line-height: 115%;
  letter-spacing: 0.03em;
  color: #377dff;
}

.workers-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  line-height: 115%;
  letter-spacing: 0.03em;
  color: #141d28;
  max-width: 200px;
}

.workers-button {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #141d28;
  padding: 17px 37px;
  border: 2px solid #377dff;
  border-radius: 35px;
  transition: transform 500ms ease;
}

.workers-button:hover {
  background-color: #377dff;
  color: #fff;
  transform: scale(1.1);
}

.workers-list {
  display: none;
}
