p,
h1,
h2,
h3 {
  margin: 0; /* убираем отступы у заголовков и параграфов */
}

ul {
  list-style-type: none; /* убираем точки списка */
  margin: 0; /* убираем отступы у списка */
  padding: 0; /* убираем отступы у списка */
}

a {
  text-decoration: none; /* убираем подчеркивание ссылок */
}

img {
  display: block; /*убираем пробелы под картинкой*/
  max-width: 100%; /*максимальная ширина картинки*/
  height: auto; /*автоматическая высота картинки*/
}

li:last-child {
  margin-right: 0; /*убираем отступ у последнего элемента списка*/
}

body {
  --font-family: "Poppins", sans-serif;
  --second-family: "Montserrat", sans-serif;
  width: 100%; /* секция занимает всю ширину окна */
  height: 100vh; /* высота = 100% высоты экрана */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  width: 420px; /*ширина контейнера*/
  padding-left: 10px; /*отступ слева*/
  padding-right: 10px; /*отступ справа*/
  margin: 0 auto; /*центрируем контейнер*/
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*-------Header-------*/

.header {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  background: #0c1117;
  padding-top: 23px;
  padding-bottom: 23px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-logo-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: #377dff;
}

.header-menu-list {
  display: none;
}

.header-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  fill: #377dff;
}

.mob-menu {
  width: 100%;
  height: 100%;
  background: #0c1117;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 20px;
  opacity: 0;
  pointer-events: 0;
  visibility: hidden;
}

/*накладывается на класс mob-menu*/
.mob-menu-open {
  opacity: 1;
  visibility: visible;
  pointer-events: stroke;
}

.mob-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.modal-close {
  display: block;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  fill: #fff;
}

.mob-menu-menu-item {
  margin-bottom: 25px;
}

.mob-menu-menu-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 93%;
  letter-spacing: 0.05em;
  color: #377dff;
  margin-left: 40px;
}

.mob-menu-menu-link.current {
  color: #fff;
}

.mob-menu-menu-link:hover,
.mob-menu-menu-link:focus {
  color: #fff;
  transition: 500ms ease;
}

.mob-menu-soc-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header-nav {
    display: flex;
    justify-content: start;
  }

  .header-menu-list {
    display: flex;
    gap: 63px;
    margin-left: 141px;
    align-items: center;
  }

  .header-menu-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 93%;
    letter-spacing: 0.05em;
    color: #fff;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #377dff;
    transition: 300ms ease;
  }

  .header-button {
    display: none;
  }
}
