p,
h1,
h2,
h3 {
  margin: 0; /* убираем отступы у заголовков и параграфов */
}

ul {
  list-style-type: none; /* убираем точки списка */
  margin: 0; /* убираем отступы у списка */
  padding: 0; /* убираем отступы у списка */
}

a {
  text-decoration: none; /* убираем подчеркивание ссылок */
}

img {
  display: block; /*убираем пробелы под картинкой*/
  max-width: 100%; /*максимальная ширина картинки*/
  height: auto; /*автоматическая высота картинки*/
}

li:last-child {
  margin-right: 0; /*убираем отступ у последнего элемента списка*/
}

body {
  --font-family: "Poppins", sans-serif;
  --second-family: "Montserrat", sans-serif;
  width: 100%; /* секция занимает всю ширину окна */
  height: 100vh; /* высота = 100% высоты экрана */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  width: 420px; /*ширина контейнера*/
  padding-left: 10px; /*отступ слева*/
  padding-right: 10px; /*отступ справа*/
  margin: 0 auto; /*центрируем контейнер*/
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*-------HEADER-------*/

.header {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  background: #0c1117;
  padding-top: 23px;
  padding-bottom: 23px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-logo-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  color: #377dff;
}

.header-menu-list {
  display: none;
}

.header-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  fill: #377dff;
}

.mob-menu {
  width: 100%;
  height: 100%;
  background: #0c1117;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 20px;
  opacity: 0;
  pointer-events: 0;
  visibility: hidden;
}

/*накладывается на класс mob-menu*/
.mob-menu-open {
  opacity: 1;
  visibility: visible;
  pointer-events: stroke;
}

.mob-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.modal-close {
  display: block;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 5px;
  background: none;
  border: none;
  cursor: pointer;
  fill: #fff;
}

.mob-menu-menu-item {
  margin-bottom: 25px;
}

.mob-menu-menu-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 93%;
  letter-spacing: 0.05em;
  color: #377dff;
  margin-left: 40px;
}

.mob-menu-menu-link.current {
  color: #fff;
}

.mob-menu-menu-link:hover,
.mob-menu-menu-link:focus {
  color: #fff;
  transition: 500ms ease;
}

.mob-menu-soc-list {
  display: flex;
  gap: 33px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header-nav {
    display: flex;
    justify-content: start;
  }

  .header-menu-list {
    display: flex;
    gap: 63px;
    margin-left: 141px;
    align-items: center;
  }

  .header-menu-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 93%;
    letter-spacing: 0.05em;
    color: #fff;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #377dff;
    transition: 300ms ease;
  }

  .header-button {
    display: none;
  }
}

/*-------HERO--------*/

.hero {
  position: relative;
  background: linear-gradient(rgba(18, 27, 38, 0.73), rgba(18, 27, 38, 0.73)),
    url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  display: none;
}

.hero-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.number-title {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 80px;
  line-height: 129%;
  color: rgba(255, 255, 255, 0.13);
}

.hero-line {
  width: 3px;
  height: 80px;
  background: #377dff;
}

.hero-text-all {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 70px;
  margin-left: 20px;
}

.hero-title {
  font-family: var(--second-family);
  font-weight: 200;
  font-size: 25px;
  line-height: 140%;
  color: #fff;
  max-width: 480px;
}

.hero-title-2 {
  font-family: var(--second-family);
  font-weight: 200;
  font-size: 25px;
  color: #377dff;
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 156%;
  color: #fff;
  margin-top: 31px;
  margin-bottom: 59px;
  max-width: 611px;
  margin-left: 20px;
  margin-right: 20px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.hero-button-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border-radius: 35px;
  padding: 17px 37px;
  background: #377dff;
  transition: all 500ms ease;
}

.hero-button-link:hover,
.hero-button-link-2:hover {
  transform: scale(1.1);
}

.hero-button-link-2:hover {
  background-color: #377dff;
}

.hero-button-link-2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border: 2px solid #377dff;
  border-radius: 35px;
  padding: 17px 37px;
  background: transparent;
  margin-left: 14px;
  transition: all 500ms ease;
}

@media screen and (min-width: 768px) {
  .hero-container {
    position: relative;
  }

  .hero-text-all {
    gap: 20px;
    align-items: center;
    margin-top: 90px;
    margin-left: 20px;
    width: 450px;
  }

  .number-title {
    font-size: 100px;
  }

  .hero-line {
    height: 100px;
  }

  .hero-title {
    font-size: 30px;
  }

  .hero-title-2 {
    font-size: 30px;
  }

  .hero-text {
    font-size: 12px;
    margin-top: 45px;
    max-width: 450px;
  }

  .hero-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    margin-bottom: 70px;
    top: 130px;
    right: 60px;
  }

  .hero-button-link-2 {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
 

  .hero-text-all {
    flex: 1 1 50%;
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 272px;
    margin-left: 0;
    width: 800px;
  }

  .number-title {
    font-size: 140px;
  }

  .hero-line {
    height: 130px;
  }

  .hero-title {
    font-size: 50px;
    max-width: 480px;
  }

  .hero-title-2 {
    font-size: 50px;
  }

  .hero-text {
    font-size: 16px;
    margin-top: 31px;
    margin-bottom: 59px;
    margin-left: 0;
    max-width: 611px;
  }

  .hero-image {
    position: absolute;
    width: 825px;
    margin-left: 465px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 45%;
  }

  .hero-buttons {
    position: static; /* вместо absolute */ /* вместо flex */
    flex-direction: row; /* дефолтное направление */ /* по умолчанию нет gap */
    align-items: stretch; /* дефолтное значение */
    margin-bottom: 0; /* сброс отступа */
    top: auto; /* отключаем позиционирование */
    right: auto; /* отключаем позиционирование */
    justify-content: start;
    display: flex;
    gap: 15px;
    margin-bottom: 172px;
  }
}

/*----------INFO-----------*/

.info {
  padding-top: 70px;
  padding-bottom: 70px;
}

.info-title-line {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.info-line {
  width: 3px;
  height: 50px;
  background: #377dff;
}

.info-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  line-height: 121%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #141d28;
  padding-bottom: 70px;
}

.span-info {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  line-height: 115%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #377dff;
}

.info-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.info-item {
  text-align: center;
}

.info-img {
  width: 170px;
  display: block;
  margin: 0 auto;
}

.poiner {
  position: absolute;
  transform: rotate(-270deg);
  left: 10px;
  top: 200px;
}

.poiner2 {
  position: absolute;
  transform: rotate(90deg);
  right: 10px;
  top: 470px;
}

.info-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  color: #141d28;
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .info-title-line {
    gap: 32px;
  }

  .info-line {
    height: 52px;
  }

  .info-title {
    font-size: 36px;
  }

  .span-info {
    font-size: 36px;
  }

  .info-list {
    position: static;
    justify-content: center;
    gap: 5px;
    flex-direction: row;
  }

  .info-img {
    width: 120px;
  }

  .poiner {
    padding-top: 70px;
    position: static;
    transform: rotate(0deg);
  }

  .poiner2 {
    position: static;
    transform: rotate(0deg);
    padding-bottom: 135px;
  }

  .info-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .info {
    padding-top: 145px;
    padding-bottom: 145px;
  }

  .info-title-line {
    gap: 38px;
  }

  .info-line {
    height: 54px;
  }

  .info-title {
    font-size: 38px;
  }

  .span-info {
    font-size: 40px;
  }

  .info-list {
    gap: 45px;
  }

  .info-img {
    width: 180px;
  }

  .poiner {
    padding-top: 0px;
  }

  .poiner2 {
    padding-bottom: 75px;
  }

  .info-text {
    font-size: 30px;
  }
}

/*-----------FEAUTERS------------*/

.features {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #233142;
}

.features-list {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  padding-left: 20px;
}

.features-icon-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.features-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-transform: capitalize;
  color: #fff;
}

.features-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  max-width: 355px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 50px;
  }

  .features-item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .features-icon-title {
    margin-bottom: 5px;
  }

  .features-text {
    padding-left: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 145px;
    padding-bottom: 145px;
  }

  .features-list {
    column-gap: 40px;
    row-gap: 60px;
  }

  .features-item {
    flex-basis: calc((100% - 80px) / 3);
  }

  .features-icon-title {
    margin-bottom: 18px;
  }

  .t1 {
    max-width: 320px;
  }
}

/*-----------WORKERS------------*/

.workers {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #f9fbfd;
}

.workers-line {
  width: 3px;
  height: 90px;
  background: #377dff;
  margin-right: 28px;
}

.workers-header {
  display: flex;
  margin-left: 20px;
  margin-bottom: 70px;
}

.workers-header-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.span-workers {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  line-height: 115%;
  letter-spacing: 0.03em;
  color: #377dff;
}

.workers-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  line-height: 115%;
  letter-spacing: 0.03em;
  color: #141d28;
  max-width: 200px;
}

.workers-button {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #141d28;
  padding: 17px 37px;
  border: 2px solid #377dff;
  border-radius: 35px;
  transition: transform 500ms ease;
}

.workers-button:hover {
  background-color: #377dff;
  color: #fff;
  transform: scale(1.1);
}

.workers-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .workers-all {
    display: flex;
    align-items: center;
  }

  .workers-list {
    display: flex;
    gap: 5px;
    width: 550px;
  }

  .workers-header-button {
    margin-right: 20px;
  }

  .workers-bar-img {
    position: relative;
    overflow: hidden;
  }

  .workers-bar-img:hover .workers-bar {
    transform: translateY(0);
  }

  .workers-bar {
    position: absolute;
    bottom: 0;
    width: 163px;
    height: 50px;
    background: #377dff;
    opacity: 0.9;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }

  .workers-soc-list {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  .workers-people {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #141d28;
    margin-bottom: 10px;
    margin-top: 33px;
    text-align: center;
  }

  .workers-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    letter-spacing: 0.14em;
    color: #5c6f87;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .workers {
    padding-top: 150px;
    padding-bottom: 145px;
    background: #f9fbfd;
  }

  .workers-header-button {
    margin-right: 0px;
  }

  .workers-line {
    height: 100px;
  }

  .workers-header {
    margin-left: 0px;
  }

  .span-workers {
    font-size: 40px;
  }

  .workers-title {
    font-size: 40px;
  }

  .workers-list {
    justify-content: end;
    width: 920px;
  }

  .workers-bar {
    width: 286px;
  }

  .workers-soc-list {
    gap: 16px;
  }

  .workers-people {
    font-size: 26px;
  }
}

/*-----------FEW-REASON------------*/

.few-reason {
  padding-top: 70px;
  padding-bottom: 70px;
  margin: 0 auto;
  background: linear-gradient(
      rgba(246, 246, 246, 0.9),
      rgba(246, 246, 246, 0.9)
    ),
    url(../img/few-reason-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.few-reason-header {
  display: flex;
  align-items: center;
  gap: 28px;
}

.few-reason-line {
  height: 85px;
}

.few-reason-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 34px;
  line-height: 115%;
  letter-spacing: 0.03em;
  color: #233142;
}

.span-few-reason {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 34px;
  line-height: 115%;
  letter-spacing: 0.03em;
  color: #377dff;
}

.few-reason-subtitle-01 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 91%;
  letter-spacing: 0.02em;
  color: #377dff;
  padding-top: 70px;
  padding-bottom: 20px;
}

.few-reason-subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 45px;
  line-height: 89%;
  letter-spacing: 0.02em;
  color: #657991;
  padding-bottom: 20px;
}

.few-reason-text-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  color: #233142;
  padding-bottom: 20px;
}

.few-reason-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #5c6f87;
  max-width: 567px;
  padding-bottom: 30px;
}

.few-reason-last-text {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .few-reason {
    padding-top: 150px;
    padding-bottom: 146px;
  }

  .few-reason-line {
    height: 92px;
  }

  .few-reason-title {
    font-size: 40px;
  }

  .span-few-reason {
    font-size: 40px;
  }

  .few-reason-subtitle-01 {
    padding-top: 84px;
    padding-bottom: 35px;
  }

  .few-reason-subtitle {
    padding-bottom: 35px;
  }

  .few-reason-text-title {
    padding-bottom: 28px;
  }

  .few-reason-text {
    padding-bottom: 46px;
  }
}

/*-----------GALLERY------------*/

.gallery {
  display: flex;
  background-color: #f8f8f9;
}

.gallery-container {
  width: 420px; /*ширина контейнера*/
  padding-left: 10px; /*отступ слева*/
  padding-right: 10px; /*отступ справа*/
  margin: 0 auto; /*центрируем контейнер*/
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.gallery-item {
  flex: 1 1 calc(50% - 5px);
  display: block;
}

.gallery-img {
  display: block;
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .gallery-container {
    min-width: 768px;
  }

  .gallery {
    justify-content: center;
    margin: 0 auto;
  }

  .gallery-list {
    flex-wrap: nowrap;
    gap: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    max-width: 1440px;
  }

  .gallery-container {
    width: 100%;
  }

  .gallery-lisr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery-img {
    width: 100%;
    height: auto;
  }
}

/*----------OUR TESTIMONIALS-------------*/

.testimonials {
  background-color: #f8f8f9;
  padding-top: 70px;
  padding-bottom: 70px;
}

.testimonials-header {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 50px;
}

.testimonials-line {
  width: 3px;
  height: 50px;
  background: #377dff;
}

.testimonials-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  line-height: 121%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #141d28;
}

.span-testimonials {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  line-height: 115%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #377dff;
}

.slider-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.arrow {
  background: none;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.arrow:hover {
  transform: scale(1.2);
}

.slider {
  display: flex;
  width: 100%;
  max-width: 800px; /* ширина области показа */
  overflow: hidden; /* скрываем лишнее */
}

.slides {
  display: flex;
  transition: transform 0.6s ease;
  position: relative;
  height: 200px;
}

.slide {
  flex: 0 0 calc(100% / 3); /* каждый слайд = ширина окна */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide img {
  max-width: 100%;
  height: auto;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform-origin: center center;
  z-index: 1;
  opacity: 0.5;
}

.slide.center img {
  transform: scale(2);
  opacity: 1;
  position: relative;
  z-index: 2; /* поднимаем над соседями */
}

.testimonials-text-all {
  position: relative;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.6s ease;
  max-width: 718px;
}

.text.active {
  opacity: 1;
  position: absolute;
}

.slide-text {
  width: 418px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 155%;
  text-align: center;
  color: #4e5e72;
}

.slide-people {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 27px;
  line-height: 128%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #141d28;
  margin-top: 42px;
  margin-bottom: 8px;
}

.slide-professional {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.25em;
  text-align: center;
  color: #4e5e72;
}

@media screen and (min-width: 768px) {
  .slide.center img {
    transform: scale(1.3);
  }

  .slide-text {
    width: 718px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .testimonials {
    padding-top: 145px;
    padding-bottom: 145px;
  }

  .testimonials-header {
    gap: 38px;
    margin-bottom: 70px;
  }

  .testimonials-line {
    height: 54px;
  }

  .testimonials-title {
    font-size: 38px;
  }

  .span-testimonials {
    font-size: 40px;
  }

  .slider-wrapper {
    margin-bottom: 60px;
  }
}

/*----------INNOVATION----------*/

.innovation {
  display: flex;
  background: #233142;
  padding-top: 70px;
  padding-bottom: 70px;
  overflow: hidden;
}

.innovation-img {
  display: none;
}

.innovation-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 50px;
  line-height: 115%;
  letter-spacing: 0.01em;
  color: #fff;
}

.innovation-title-2 {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 55px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #377dff;
  margin-bottom: 25px;
}

.innovation-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 67px;
}

.innovation-buttons {
  display: flex;
  justify-content: center;
}

.innovation-button-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border-radius: 35px;
  padding: 17px 37px;
  background: #377dff;
  transition: all 500ms ease;
}

.innovation-button-link:hover,
.innovation-button-link-2:hover {
  transform: scale(1.1);
}

.innovation-button-link-2:hover {
  background-color: #377dff;
}

.innovation-button-link-2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border: 2px solid #377dff;
  border-radius: 35px;
  padding: 17px 37px;
  background: transparent;
  margin-left: 14px;
  transition: all 500ms ease;
}

@media screen and (min-width: 768px) {
  .innovation-container {
    position: relative;
  }

  .innovation-text {
    width: 450px;
    margin-bottom: 0px;
  }

  .innovation-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    margin-bottom: 70px;
    top: 28px;
    right: 70px;
  }

  .innovation-button-link-2 {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .innovation {
    display: flex;
    background: #233142;
    width: 100%;
    height: 653px;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .innovation-container {
    position: static;
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  .innovation-title {
    font-size: 70px;
  }

  .innovation-img {
    display: block;
    flex: 0 0 50%;
    height: 100%;
    min-width: 715px;
    object-fit: cover;
    object-position: center 90%;
  }

  .innovation-text-all {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 147px;
    padding-bottom: 150px;
  }

  .innovation-text {
    font-size: 20px;
    margin-bottom: 67px;
  }

  .innovation-buttons {
    position: static; /* вместо absolute */ /* вместо flex */
    flex-direction: row; /* дефолтное направление */ /* по умолчанию нет gap */
    align-items: stretch; /* дефолтное значение */
    margin-bottom: 0; /* сброс отступа */
    top: auto; /* отключаем позиционирование */
    right: auto; /* отключаем позиционирование */
    justify-content: start;
    display: flex;
    gap: 15px;
  }
}

/*---------OUR NEWS------------*/

.our-news {
  background-color: #f8f8f9;
  padding-top: 70px;
  padding-bottom: 70px;
}

.our-news-header {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 70px;
}

.our-news-line {
  width: 3px;
  height: 50px;
  background: #377dff;
}

.our-news-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  line-height: 121%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #141d28;
}

.span-our-news {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 35px;
  line-height: 115%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #377dff;
}

.our-news-all {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.first-new-text-all {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.first-new-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 135%;
  letter-spacing: 0.06em;
  color: #141d28;
  margin-bottom: 10px;
}

.first-new-date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  text-transform: capitalize;
  color: #5c6f87;
  margin-bottom: 20px;
}

.new-date-date {
  margin-left: 49px;
}

.first-new-button {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 250%;
  letter-spacing: 0.33em;
  text-transform: uppercase;
  color: #141d28;
}

.first-new-comments {
  display: none;
}

.new-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: 0.06em;
  color: #fff;
  margin-bottom: 10px;
  width: 300px;
}

.new-date {
  display: flex;
  gap: 49px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  text-transform: capitalize;
  color: #fff;
}

.new-all-another {
  overflow: hidden;
  width: 100%;
  margin-bottom: 50px;
}

.second-new-img {
  width: 100%;
  height: auto;
  display: block;
}

.third-new-img {
  width: 100%;
  height: auto;
  display: block;
}

.new-all-another:hover .new-bar {
  max-height: fit-content;
  padding: 30px;
}

.new-bar {
  background: #141d28;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

@media screen and (min-width: 768px) {
  .first-new-comments {
    display: block;
    width: 612px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: #5c6f87;
    margin-bottom: 57px;
  }

  .news-another {
    display: flex;
    gap: 30px;
  }

  .new-all-another {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .our-news {
    background-color: #f8f8f9;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .our-news-header {
    gap: 38px;
  }

  .our-news-line {
    height: 54px;
  }

  .our-news-title {
    font-size: 38px;
  }

  .span-our-news {
    font-size: 38px;
  }

  .our-news-all {
    flex-direction: row;
  }

  .first-new-text-all {
    padding-top: 75px;
    padding-left: 65px;
    padding-bottom: 0px;
  }

  .new-all-another {
    margin-bottom: 150px;
  }

  .news-another {
    display: block;
  }
}

/*---------FOOTER------------*/

.footer {
  background: #141d28;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 30px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.footer-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 90%;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #377dff;
  margin-bottom: 35px;
}

.about-us-text {
  width: 370px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
  margin-bottom: 35px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.recent-post-svg-text {
  display: flex;
  gap: 6px;
  align-items: center;
}

.recent-post-text-1 {
  width: 270px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  color: #fff;
}

.recent-post-text-2 {
  width: 270px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  color: #fff;
  margin-left: 9px;
}

.footer-line {
  width: 330px;
  height: 1px;
  background: #343d48;
  margin-top: 12px;
  margin-bottom: 12px;
}

.contact-us-svg-text {
  display: flex;
  gap: 6px;
  align-items: center;
}

.contact-us-text-1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
}

.contact-us-text-2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #fff;
  margin-left: 26px;
  margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
  .footer-column {
    display: flex;
    flex-direction: row;
    gap: 70px;
  }

  .recent-post {
    display: none;
  }}

  @media screen and (min-width: 1200px) {
    .footer {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0px;
}

.footer-column {
  gap: 100px;
}

.about-us-text {
  margin-bottom: 40px;
}

.footer-title {
  margin-bottom: 55px;
}

.recent-post {
    display: block;
}

.footer-line {
  width: 370px;
}
  
}

/*---------BACKDROP------------*/


.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.3);
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 300ms ease;
}

.modal {
  width: 500px;
  height: 540px;
  border-radius: 3%;
  background-color: #f6f6f6;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-header {
  margin-bottom: 25px;
}

.modal-input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #141d28;
  border: 2px solid #377dff;
  border-radius: 35px;
  width: 100%;
  height: 60px;
  padding-left: 60px;
  margin-bottom: 15px;
}

.modal-button {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #141d28;
  background-color: #fff;
  padding: 17px 37px;
  border: 2px solid #377dff;
  border-radius: 35px;
  transition: transform 500ms ease;
  cursor: pointer;
  margin-top: 12px;
}

.modal-button:hover {
  background-color: #377dff;
  color: #fff;
  transform: scale(1.1);
}

.modal-wrap {
  position: relative;
}

.icon-modal {
  position: absolute;
  top: 20px;
  left: 25px;
}

.modal-textarea {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #141d28;
  border: 2px solid #377dff;
  border-radius: 35px;
  width: 100%;
  height: 60px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  margin-bottom: 15px;
  resize: none;
}

.modal-check-text {
  margin-left: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 155%;
  text-align: center;
  color: #4e5e72;

  a {
    color: #377dff;
  }
}

.modal-check-icon {
  margin-right: 15px;
}

.modal-check:checked + .modal-check-text {
  fill: #377dff;
}

}